<div>
    <button (click)="toGetAllConsignment()">Consignment/ Order Status</button>
    <input  style="margin-left: 78%;" placeholder="Search by VIN / Serial No. / Invoice No." type="search" [(ngModel)]="consignmentSearchObj.vinOrInvoiceNo" >

    <table style="width:100%">
        <thead>
           <tr>
              <th>VIN No.</th>
              <th>Source</th>
              <th>Destination</th>
           </tr>
        </thead>
        <tbody>
        <tr *ngFor="let consignment of allConsignmentList | searchFilter: consignmentSearchObj.vinOrInvoiceNo; let i = index;">
            <td>{{consignment.User}}</td>
            <td>{{consignment.AuthID}}</td>
            <td>{{consignment.FormName}}</td>
        </tr>
        </tbody>
    </table>
</div>
