<div *ngIf="currentUser">
    <div style="margin-left: 95%">
        <button (click)="logOutUser()">logOut</button>
    </div>
    <li class="waves-effect waves-light">
        <a class="treeview-item" [routerLink]="['dashboard']" [routerLinkActive]="['active']">
            <i class="icon fa fa-clipboard" aria-hidden="true"></i>dashboard
        </a>
    </li>
    <li class="waves-effect waves-light">
        <a class="treeview-item" [routerLink]="['pendingEPOD']" [routerLinkActive]="['active']">
            <i class="icon fa fa-clipboard" aria-hidden="true"></i>Pending Epod
        </a>
    </li>
<!--    <input placeholder="Search by VIN / Serial No. / Invoice No." >-->
</div>
<router-outlet></router-outlet>
