<div style="margin-left: 178px">
    <div>
        <p>Home</p>
        <b>Pending EPOD</b>
        <input placeholder="Search by LRNumber"  style="margin-left: 73%" [(ngModel)]="pendEpodSearchFilter">
    </div>

    <div style="float: left; width: 14%; padding: 0 10px;margin-top: 50px" *ngFor="let pendingList of pendingEpodList | searchFilter: pendEpodSearchFilter">
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding: 16px;text-align: center;background-color: #f1f1f1;">
            <b>LRNumber</b>
            <p>{{pendingList.LRNumber}}</p>
            <button>EPOD</button>
        </div>
    </div>
</div>
