<div class="log_in_cont" style="display: flex;flex-direction: row;background-color: #FAFAFC;height: 110%;">
    <div>
        <video src="./assets/images/logiFreight.mp4" style="width: 80%;height: 110%;background-color: #FAFAFC;"
               autoplay
               loop
               muted>
               Sorry, your browser doesn't support HTML5 video tag.
        </video>
    </div>
    <div class="login-details">
        <input placeholder="please Enter Username" [(ngModel)]="loginDetails.username" [ngModelOptions]="{standalone: true}"><br><br><br>
        <input  placeholder="please Enter Password" [(ngModel)]="loginDetails.password" [ngModelOptions]="{standalone: true}"><br><br><br>
        <button  style="width: 184px; height: 36px;background-color: #D6223A; color: #ffff; border-radius: 6px;border: none;" (click)="login()">Login</button>
    </div>
</div>

