@import "../../../styles.scss";

//.log_in_cont
//{
//  @include heightwidth(100%, 100vh);
//  background-image: $new_bg_back;
//  background-attachment: fixed;
//}

.login-details{
  background-color: #FAFAFC;
  margin-top: 360px;
  margin-left: 90px;
}
